/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/narrative/home/Home.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
/* .main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:flex-start;
  gap: 2.5rem;
  padding: 6rem;
  min-height: 100vh;
  width: 100%;
} */
.Home_main__uhfg7 {
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 80px 1fr 40px;
  padding-right: 1rem;
  overflow: hidden;
}

.Home_scrollarea__EXgCT {
  overflow: hidden;
}

/* .scrollarea {
  overflow-y: scroll;
  height: 100%;
} */

/* .main {
  height: 100%;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
}

.main > .rt-ContainerInner {
  height: 100%;
} */

/* .summary {
  max-width: 62ch;
}

.summary > p {
  margin-bottom: 1rem;
}

.summary > p > strong:hover {
  background-color: #c6c6c6;
  cursor: pointer;
} */

.Home_badgelink__qn2ob {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
  padding: 0 0.25rem;
}

.Home_title__kOvtt {
  font-weight: bold;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./ui/narrative/InlineLink.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.InlineLink_linkreset__Hyh7T {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
    padding: 0 0.25rem;
  }

  .InlineLink_linkreset__Hyh7T:hover {
    text-decoration: underline;
  }
/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./ui/narrative/Navigation.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/

.Navigation_trigger__i9cUZ {
  width: 60%;
}

.Navigation_triggericon__88GPv {
  cursor: pointer;
}

.Navigation_item__FJZPd {
  width: calc(100vw * 0.6 - 1rem);
}

/* .NavigationMenuRoot {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100vw;
  z-index: 1;
}

.NavigationMenuList {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 4px;
  border-radius: 6px;
  list-style: none;
  box-shadow: 0 2px 10px var(--black-a7);
  margin: 0;
}

.NavigationMenuTrigger,
.NavigationMenuLink {
  padding: 8px 12px;
  outline: none;
  user-select: none;
  font-weight: 500;
  line-height: 1;
  border-radius: 4px;
  font-size: 15px;
  color: var(--violet-11);
}
.NavigationMenuTrigger:focus,
.NavigationMenuLink:focus {
  box-shadow: 0 0 0 2px var(--violet-7);
}
.NavigationMenuTrigger:hover,
.NavigationMenuLink:hover {
  background-color: var(--violet-3);
}

.NavigationMenuTrigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2px;
}

.NavigationMenuLink {
  display: block;
  text-decoration: none;
  font-size: 15px;
  line-height: 1;
}

.NavigationMenuContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  animation-duration: 250ms;
  animation-timing-function: ease;
}
.NavigationMenuContent[data-motion='from-start'] {
  animation-name: enterFromLeft;
}
.NavigationMenuContent[data-motion='from-end'] {
  animation-name: enterFromRight;
}
.NavigationMenuContent[data-motion='to-start'] {
  animation-name: exitToLeft;
}
.NavigationMenuContent[data-motion='to-end'] {
  animation-name: exitToRight;
}
@media only screen and (min-width: 600px) {
  .NavigationMenuContent {
    width: auto;
  }
}

.NavigationMenuIndicator {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 10px;
  top: 100%;
  overflow: hidden;
  z-index: 1;
  transition: width, transform 250ms ease;
}
.NavigationMenuIndicator[data-state='visible'] {
  animation: fadeIn 200ms ease;
}
.NavigationMenuIndicator[data-state='hidden'] {
  animation: fadeOut 200ms ease;
}

.NavigationMenuViewport {
  position: relative;
  transform-origin: top center;
  margin-top: 10px;
  width: 100%;
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  height: var(--radix-navigation-menu-viewport-height);
  transition: width, height, 300ms ease;
}
.NavigationMenuViewport[data-state='open'] {
  animation: scaleIn 200ms ease;
}
.NavigationMenuViewport[data-state='closed'] {
  animation: scaleOut 200ms ease;
}
@media only screen and (min-width: 600px) {
  .NavigationMenuViewport {
    width: var(--radix-navigation-menu-viewport-width);
  }
}

.List {
  display: grid;
  padding: 22px;
  margin: 0;
  column-gap: 10px;
  list-style: none;
}
@media only screen and (min-width: 600px) {
  .List.one {
    width: 500px;
    grid-template-columns: 0.75fr 1fr;
  }
  .List.two {
    width: 600px;
    grid-auto-flow: column;
    grid-template-rows: repeat(3, 1fr);
  }
}

.Callout {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, var(--purple-9) 0%, var(--indigo-9) 100%);
  border-radius: 6px;
  padding: 25px;
  text-decoration: none;
  outline: none;
  user-select: none;
}
.Callout:focus {
  box-shadow: 0 0 0 2px var(--violet-7);
}

.CalloutHeading {
  color: white;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 16px;
  margin-bottom: 7px;
}

.CalloutText {
  color: var(--mauve-4);
  font-size: 14px;
  line-height: 1.3;
}

.ViewportPosition {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  top: 100%;
  left: 0;
  perspective: 2000px;
}

.CaretDown {
  position: relative;
  color: var(--violet-10);
  top: 1px;
  transition: transform 250ms ease;
}
[data-state='open'] > .CaretDown {
  transform: rotate(-180deg);
}

.Arrow {
  position: relative;
  top: 70%;
  background-color: white;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  border-top-left-radius: 2px;
}

@keyframes enterFromRight {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes enterFromLeft {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes exitToRight {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(200px);
  }
}

@keyframes exitToLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-200px);
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: rotateX(-30deg) scale(0.9);
  }
  to {
    opacity: 1;
    transform: rotateX(0deg) scale(1);
  }
}

@keyframes scaleOut {
  from {
    opacity: 1;
    transform: rotateX(0deg) scale(1);
  }
  to {
    opacity: 0;
    transform: rotateX(-10deg) scale(0.95);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
} */

/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./ui/narrative/PageLayout.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.PageLayout_container__WOylX {
    display: grid;
    grid-template-areas: "left right";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100dvh;
    overflow: hidden;
}

main.PageLayout_leftZone__mgAjd {
    height: 100%;
    grid-area: left;
    overflow-y: scroll;
}

aside.PageLayout_rightZone__5Wc5s {
    height: 100%;
    grid-area: right;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

aside.PageLayout_home__g9Gmz {
    background-image: url('/backgrounds/HomeBackground.jpg');
}
aside.PageLayout_about__b7o5L {
    background-image: url('/backgrounds/HomeBackground.jpg');
}
aside.PageLayout_klaviyo__E5A94 {
    background-image: url('/backgrounds/KlaviyoBackground.jpg');
}
aside.PageLayout_vertex__ZrFPu {
    background-image: url('/backgrounds/VertexBackground.jpg');
}
aside.PageLayout_collaborative__voi4S {
    background-image: url('/backgrounds/CollaborativeBackground.jpg');
}
aside.PageLayout_dassault__CQrto {
    background-image: url('/backgrounds/DassaultBackground.jpg');
}

.PageLayout_switcher__ek7q6 {
    display: none;
}

@media (max-width: 768px) {
    .PageLayout_container__WOylX {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: calc(100dvh - 3rem) 3rem;
        position: relative;
    }
    .PageLayout_leftZone__mgAjd {
        display: none;
    }
    
    .PageLayout_leftZone__mgAjd[data-active="true"] {
        display: block;
        grid-row: 1 / 3;
    }
    
    .PageLayout_rightZone__5Wc5s {
        display: none;
    }
    
    .PageLayout_rightZone__5Wc5s[data-active="true"] {
        display: block;
        grid-area: unset;
        grid-row: 1 / 3;
    }

    .PageLayout_switcher__ek7q6 {
        grid-row: 2 / 3;
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}


/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./ui/narrative/RowItem.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.RowItem_dottedline__iNXCS {
    border-bottom: 1px dotted #333;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./ui/shared/ThemeSwitcher.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.ThemeSwitcher_iconTrigger__F28y_ {
    cursor: pointer;
    height: 1.5rem;
}

.ThemeSwitcher_iconTrigger__F28y_ svg {
    transform: scale(1.5);
}
