/*!*********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/traditional/work/klaviyo/i18n/page.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************/
.page_dataListItemLabel__klfXU {
    min-width: 88px;
}

.page_iframeContainer__ppFss iframe {
    margin-top: 1rem;
    width: 100%;
    height: 680px;
    border: none;
    border-radius: 0.75rem;
}


