/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/traditional/page.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.page_linkOverride__IPahs a {
    text-decoration: none;
    color: inherit;
}

.page_imageOverrides__y14VE {
    aspect-ratio: 16 / 9;
    object-fit: fill;
    border-radius: 0.75rem;
}

.page_projectContainer__D_FH7 {
    padding: 0.75rem;
}

.page_caseStudyContainer__A9lQ1 {
    padding: 0.75rem;
    border-radius: 1rem;
    transition: background-color 0.4s ease, transform 0.4s ease;
}

.page_caseStudyContainer__A9lQ1:hover {
    background-color: rgba(197, 196, 193, .15);
    transform: scale(1.02);
    cursor: pointer;
}

.page_whiteImageContainer___9FjN {
    border: 1px solid rgba(197, 196, 193, .35);
}

