.gridcontainer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 64px calc(100% - 64px);
    height: 100%;
}
.cardcontainer {
    height: 100%;
}

.companycard {
    height: 100%;
}

.scrollarea {
    overflow: hidden;
    height: 100%;
}