.pageLayout {
    width: 100%;
    height: calc(100dvh - 90px);
    display: grid;
    grid-template-columns: 320px 1fr;
    grid-template-rows: 100%;
    gap: 3rem;
    overflow: hidden;
}

.resultsZone {
    overflow-y: scroll;
    padding-bottom: 3rem;
}

.settingsZone {
    overflow-y: scroll;
    padding-bottom: 3rem;
}

.colorButton {
    justify-content: flex-start;
}
