.commitWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.commitList {
    height: 100%;
    max-width: 420px;
}

.commitItem {
    list-style: none;
    padding-bottom: 1rem;
}
