.fullWidth, .twoColumnEqual, .threeColumnEqual, .twoColumnLeftTwoThirds, .twoColumnRightTwoThirds {
    display: grid;
    grid-gap: 1rem;
    width: 100%;
}

.fullWidth {
    grid-template-columns: 1fr;
}

.twoColumnEqual {
    grid-template-columns: 1fr 1fr;
}

.threeColumnEqual {
    grid-template-columns: 1fr 1fr 1fr;
}

.twoColumnLeftTwoThirds {
    grid-template-columns: 2fr 1fr;
}

.twoColumnRightTwoThirds {
    grid-template-columns: 1fr 2fr;
}
