.containerOuter {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

.containerInner {
    width: 100%;
    max-width: 1200px;
    height: 90px;
}

.bgGray {
    background-color: #bebebe;
}