/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./ui/narrative/CompanyCard.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.CompanyCard_companyinfoswitch__LWYKN {
    --color-surface: none;
}

.CompanyCard_cardcontainer__rmjMn {
    height: 100%;
}

.CompanyCard_cardcontainer__rmjMn[data-theme="dark"] {
    -webkit-backdrop-filter: brightness(0.6);
            backdrop-filter: brightness(0.6);
}

.CompanyCard_companycard__HOJDZ {
    height: 100%;
    display: grid;
    grid-template-rows: 40px 1fr 16px;
}

.CompanyCard_logocontainer__FNUrP svg {
    fill: #232426;
}

.CompanyCard_logocontainer__FNUrP[data-theme="dark"] svg {
    fill: rgb(255, 255, 255, 0.8);
}

@media (max-width: 768px) {
    .CompanyCard_companycard__HOJDZ {
        grid-template-rows: 80px 1fr 16px;
    }
}

.CompanyCard_scrollarea__2nz88 {
    height: 100%;
    padding-top: 24px;
}
