/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/about/page.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/
.page_gridcontainer__DDTVW {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 64px calc(100% - 64px);
    height: 100%;
}
.page_cardcontainer__DNz8i {
    height: 100%;
}

.page_companycard__iKR6b {
    height: 100%;
}

.page_scrollarea__bMVNb {
    overflow: hidden;
    height: 100%;
}
