/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./ui/narrative/WorkCard.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.WorkCard_cardhover__nvldV {
    cursor: pointer;
    border: 1.5px solid rgb(0, 0, 0, 0);
}
.WorkCard_cardhover__nvldV:hover {
    cursor: pointer;
    border: 1.5px solid rgb(0, 0, 0, 1);
    transition: border 0.3s ease-in-out;
}

.WorkCard_cardcontents__52g4U {
    display: grid;
    grid-template-columns: 120px 1fr;
    grid-gap: 1rem;
    gap: 1rem;
    height: 100%;
}

.WorkCard_imagecontainer__jHCC8 {
    width: "120px";
}

@media (max-width: 960px) {
    .WorkCard_imagecontainer__jHCC8 {
        display: none;
    }
    .WorkCard_cardcontents__52g4U {
        grid-template-columns: 1fr;
        gap: 1rem;
        padding-left: 1rem;
    }
}
