.cardhover {
    cursor: pointer;
    border: 1.5px solid rgb(0, 0, 0, 0);
}
.cardhover:hover {
    cursor: pointer;
    border: 1.5px solid rgb(0, 0, 0, 1);
    transition: border 0.3s ease-in-out;
}

.cardcontents {
    display: grid;
    grid-template-columns: 120px 1fr;
    gap: 1rem;
    height: 100%;
}

.imagecontainer {
    width: "120px";
}

@media (max-width: 960px) {
    .imagecontainer {
        display: none;
    }
    .cardcontents {
        grid-template-columns: 1fr;
        gap: 1rem;
        padding-left: 1rem;
    }
}