/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./app/contrast/layout.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.layout_pageLayout__tNJlr {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    width: 100%;
}

main.layout_layout__WJD6g {
    margin-top: 90px;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    height: calc(100dvh - 90px);
}

.layout_pageLayout__tNJlr Header {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./ui/shared/Header.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
.Header_containerOuter__lXl0o {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Header_containerInner__b8Z1o {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    height: 90px;
}

.Header_back__AETHu {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.Header_start__rQ3L8 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    -webkit-padding-start: 1rem;
            padding-inline-start: 1rem;
    width: 145px;
}

.Header_center___6YsI {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Header_end__uW3Mh {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    -webkit-padding-end: 2rem;
            padding-inline-end: 2rem;
    width: 145px;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./ui/shared/ThemeSwitcher.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.ThemeSwitcher_iconTrigger__F28y_ {
    cursor: pointer;
    height: 1.5rem;
}

.ThemeSwitcher_iconTrigger__F28y_ svg {
    transform: scale(1.5);
}
